.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(180deg, #1d1ef5d9, transparent);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tbl-key-color {
  color: grey;
}

.tbl-value-color {
  font-weight: bold;
  color: #4e4d4d;
  text-align: left;
}

.modal-center {
  flex-direction: column;
  display: flex;
  border: 2px solid white;
  height: 50vh;
  width: 70vh;
  background-color: white;
  border-radius: 30px;
}

.user-account-list {
  color: black;
  font-weight: 300;
  font-size: large;
}

.user-account-list:hover {
  text-decoration: none;
  cursor: pointer !important;
}

.user-profile-name:hover {
  cursor: pointer;
}

.account-title {
  text-align: center;
  position: relative;
  background-color: #f3f1f18a;
  color: black;
  font-family: sans-serif;
  padding: 30px;
  font-size: x-large;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* sidebar styles */
.sidebar {
  /* margin: 0px; */
  padding: 0px;
  /* background-color: #423fe7; */
  background-image: linear-gradient(blue, #3b1c9a, #611d61);
  position: relative;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
}

.sidebar a {
  display: block;
  color: #aea2e8;
  padding: 0px;
  text-decoration: none;
  margin: 0px auto 0px auto;
}

.sidebar a.active {
  color: white;
}
.sidebar a:hover {
  text-decoration: none;
  color: aliceblue;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-title {
  display: flex;
  margin: 50px 50px 0px 50px;
  font-weight: bold;
  font-size: x-large;
  color: #636060;
}
.profile-icon {
  display: flex;
  margin: 50px 50px 0px 50px;
}

.profile-img {
  height: 28px;
  width: 32px;
  margin-right: 15px;
  /* margin-bottom: 10px; */
}

.user-list {
  overflow-y: scroll;
  height: 30vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.user-post-card {
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: medium !important;
  font-weight: 400 !important;
}

.post-body {
  padding-top: 1.25rem;
  font-size: medium;
}

.post-img {
  height: 18vh;
}

.post-comment-icon {
  margin-top: 10px;
}

.post-comment-icon > a:hover {
  cursor: pointer;
}

.hr-line-activity {
  width: 19vh;
}

.activity-title-flex {
  display: flex;
  flex-direction: row;
}

.center-element {
  display: flex;
  align-items: center;
}

.color-text-grey {
  color: grey;
}

.card-activity {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-todo {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 60vh;
  padding: 0px !important;
}

.card-todo-completed {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 60vh;
  padding: 0px !important;
}

.todo-title {
  background-color: #d4d4d4;
  color: black;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: bold;
}

.todo-completed-title {
  background-color: #f1f1f1;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  width: 285px !important;
  left: 590px;
  height: 420px !important;
  border-radius: 35px !important;
  top: 65px;
}

.modal-body {
  text-align: center;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.gallery-thumbnail-icon {
  position: relative;
  height: 150px;
  border-radius: 14px !important;
  width: 110px;
}

.thumbnail-angle1 {
  transform: rotate(-20deg);
  z-index: 1;
}

.thumbnail-angle2 {
  transform: rotate(-7deg);
  top: -163px;
  left: 10px;
  z-index: 1;
}
.thumbnail-angle3 {
  transform: rotate(-2deg);
  top: -322px;
  left: 30px;
  z-index: 1;
}
.thumbnail-angle4 {
  transform: rotate(12deg);
  top: -477px;
  left: 54px;
  z-index: 1;
}

.album-align {
  height: 198px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 20px !important;
  cursor: pointer;
}

.thumbnail-align {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 36px;
  margin-top: 16px;
  overflow: hidden;
  height: 550px;
}
.album-title {
  background-color: #f9f8f8a1;
  border: 2px solid ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  color: black;
}

.album-title:hover {
  text-decoration: none !important;
}

.album-header {
  font-weight: bold;
  font-size: larger;
  color: #636060;
  margin: 20px 50px !important;
}

.album-header:hover {
  text-decoration: none;
  color: #636060;
}

.photo-grid {
  padding: 0px !important;
  margin: 5px;
  height: 200px;
}

.photos-breadcrumb:hover {
  text-decoration: none;
  cursor: pointer;
}
